<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {titulo:"Sucesso"})%>
<body>
    <%- include('includes/header')%>

    <main class="container">
        <div class="alert alert success" role="alert">
            Olá <%- nomeUser %>, seu pedido da pizza <%- saborPizza %> foi realizado com sucesso!
        </div>
    </main>
    
</body>
</html>